<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RendezVous"
        tools:targetApi="31">

        <!-- Authentication Activity -->
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity for Searching Doctors -->
        <activity
            android:name=".SearchDoctorActivity"
            android:exported="true">
            <!-- No intent filter since it's not the main entry point -->
        </activity>

        <!-- Activity for Doctor Activity -->
        <activity
            android:name=".DoctorActivity"
            android:exported="true">
            <!-- No intent filter since it's not the main entry point -->
        </activity>

        <!-- Activity for Patient Activity -->
        <activity
            android:name=".PatientActivity"
            android:exported="true">
            <!-- No intent filter since it's not the main entry point -->
        </activity>

        <!-- Activity for Managing Availability -->
        <activity
            android:name=".ManageAvailabilityActivity"
            android:exported="true">
            <!-- No intent filter since it's not the main entry point -->
        </activity>

        <!-- Activity for Managing Availability -->
        <activity
            android:name=".PatientAppointmentsActivity"
            android:exported="true">
            <!-- No intent filter since it's not the main entry point -->
        </activity>

        <service android:name=".MyFirebaseMessagingService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".ReminderBroadcastReceiver"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />

    </application>

</manifest>
